       
       /* Login Css */
       
       
       .log-body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 80px); /* adjust navbar height */
        background:rgb(188, 42, 42);
       }
       .login-form{
          width: 420px;
          background : transparent;
          color: #fff;
          border-radius: 10px;
          padding: 30px 40px;
          border: 2px solid;
       }
       .login-form h1{
        font-size: 36px;
        text-align: center;
       }

       .login-form .input-box{
          position: relative;
          width: 100%;
          height: 50px;
          margin: 30px 0;
       }
       .input-box input{
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          outline: none;
          border: 2px solid rgba(255, 255, 255, .2);
          border-radius: 40px;
          font-size: 16px;
          color: #fff;
          padding: 20px 45px 20px 20px;
       }
       .input-box input::placeholder{
          color: #fff;
       } 
      .input-box input:hover{
          box-shadow: 10px 12px 5px rgb(38, 9, 9);
       } 
       .input-box i{
         position: absolute;
         right: 20px;
         top: 50%;
         transform: translateY(-50%);
         font-size: 20px;
       }
       .login-form .remember-box {
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;
       }
       .remember-box label input{
          accent-color: #fff;
          margin-right: 3px;
       }
       .remember-box a{
          color: #fff;
          text-decoration:none;
          z-index: 0;
       }

       .remember-box a:hover{
          text-decoration: underline;
          color: #000000;
       }
       .login-form .btn{
          width: 100%;
          height: 45px;
          background: #fff;
          border: none;
          outline: none;
          border-radius: 40px;
          box-shadow: 0 0 10px rgba(211, 8, 8, 0.1);
          cursor: pointer;
          font-size: 16px;
          color: #333;
          font-weight: 600;
       }
       .btn:hover{
          
          box-shadow: 0 0 5px #333;
       
       }
       .login-form .register-btn{
          font-size: 14.5px;
          text-align: center;
          margin: 20px 0 15px;
        }
        .register-btn p a {
          color: #fff;
          text-decoration: none;
          font-weight: 600;
        }
        .register-btn p a:hover{
          text-decoration: underline;
          color: #000000;
        }

/* Register Page css */


       .reg-body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 80px); /* adjust navbar height */
        background:rgb(188, 42, 42);
        
       }
       .Registe{
          width: 420px;
          background : transparent;
          color: #fff;
          border-radius: 10px;
          padding: 30px 40px;
          border: 2px solid;
          margin-top: 20px;
          margin-bottom: 20px;
       }
       .reg-form h1{
        font-size: 36px;
        text-align: center;
       }

       .reg-form .input-box{
          position: relative;
          width: 100%;
          height: 50px;
          margin: 30px 0;
       }
       .input-box input{
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          outline: none;
          border: 2px solid rgba(255, 255, 255, .2);
          border-radius: 40px;
          font-size: 16px;
          color: #fff;
          padding: 20px 45px 20px 20px;
       }
       .input-box input::placeholder{
          color: #fff;
       } 
       .input-box input:hover{
          box-shadow: 10px 12px 5px rgb(38, 9, 9);
       }
       .input-box i{
         position: absolute;
         right: 20px;
         top: 50%;
         transform: translateY(-50%);
         font-size: 20px;
       }
       .reg-form .remember-box {
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;
       }
       .remember-box label input{
          accent-color: #fff;
          margin-right: 3px;
       }
       .remember-box a{
          color: #fff;
          text-decoration:none;
          z-index: 0;
       }

       .remember-box a:hover{
          text-decoration: underline;
          color: #000000;
       }
       .reg-form .btn1 {
          width: 100%;
          height: 45px;
          background: #fff;
          border: none;
          outline: none;
          border-radius: 40px;
          box-shadow: 0 0 10px rgba(211, 8, 8, 0.1);
          cursor: pointer;
          font-size: 16px;
          color: #333;
          font-weight: 600;
       }
       .btn1:hover{
          box-shadow: 0 0 5px #333;
       }
       .reg-form .btn-a{
        text-decoration: none;
        color: #333;
       }
       .reg-form .register-btn1 a{
          font-size: 14.5px;
          text-align: center;
          margin: 20px 0 15px;
        }
        .register-btn1 p a {
          color: #fff;
          text-decoration: none;
          font-weight: 600;
        }
        .register-btn1 p a:hover{
          text-decoration: underline;
          color: #000000;
        }